<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">QUICK READ</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <form class="navbar-form navbar-left form-inline"
            [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">EMAIL: </label>
          <input type="text" formControlName="email" id="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">PASSWORD: </label>
          <input type="password" formControlName="password" id="password" class="form-control">
        </div>

        <button type="submit" id="loginButton" class="btn btn-primary">LOGIN</button>
        <button type="button" id="logoutButton" (click)="onLogoutClick()" class="btn btn-danger">LOGOUT</button>
      </form>

      <ul class="nav navbar-right navbar-nav">
        <!--<li><a (click)="onSearchSelect()">SEARCH <span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>-->
        <li><a (click)="onBookShelfSelect()">BOOK SHELF <span class="glyphicon glyphicon-book" aria-hidden="true"></span></a></li>
        <li><a (click)="onProfilePictureSelect()">PROFILE</a></li>
        <form class="navbar-form navbar-right form-inline">
          <span (click)="onProfilePictureSelect()">
            <img alt="Brand" src={{imageUrl}}>
          </span>
        </form>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
