.section-label{
  position: absolute;
  top: 60px;
  padding-left: 38px;
  color: white;
}

.section_block{
  padding: 20px;
}

.imageSize {
  width: 70px;
  height: 70px;
}

.opponentDamageImageSize {
  width:130px;
  height: 130px;
}


#info_row{
 padding-bottom: 20px;
}
