<div class="container">

  <div class="row" id="info_row">
    <div class="col-md-3 col-md-offset-2">
      <h4 >Title: {{book?.title}}</h4>
      <h4 >Author: {{book?.author}}</h4>
    </div>
    <div class="col-md-3 col-md-offset-3">
      <h4>Book reading progress</h4>
      <progress-bar [progress]=bookSectionCompleteness [color]="'#d1a800'">
      </progress-bar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-3">
      <span *ngFor="let sectionGroups of bookSections;let groupIndex = index">

        <div class="row">

            <div class="col-md-6">
              <div class="col-md-3">
                <img [src]=enemyImageSrc(sectionGroups.player.avatar) class="imageSize">
              </div>
              <div class="col-md-8">
                <label>Health:</label>
                <progress-bar class="progressBar" [progress]=sectionGroups.player.health [color]="'#d9534f'">
                </progress-bar>
                <label>{{sectionGroups.player.name}}</label>
              </div>
            </div>

            <div class="col-md-6">
              <div class="col-md-3">
                <img [src]=enemyImageSrc(sectionGroups.opponent.avatar) class="imageSize">
              </div>
              <div class="col-md-8">
                <label>Health:</label>
                <progress-bar [progress]=sectionGroups.opponent.health [color]="'#d9534f'">
                </progress-bar>
                <label>{{sectionGroups.opponent.name}}</label>
              </div>
            </div>
        </div>

        <span *ngFor="let section of sectionGroups.sectionList;let sectionIndex = index">

          <div (click)="readSelectedSection(section, groupIndex, sectionIndex)" class="col-md-2">
            <label class="section-label">Section {{section.section_index + 1}}</label>
            <img class="section_block" [src]=getSectionIconImage(section) >
          </div>
        </span>

      </span>
    </div>
  </div>

</div>

<div class="row">
  <modal #inaccessibleSection>
    <modal-header>
      <h4>Inaccessible section</h4>
    </modal-header>
    <modal-content>
      <div class="row">
        <div class="col-md-12">
          You need to complete the previous section before completing this section.
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="closeModal()">OK</button>
    </modal-footer>
  </modal>
</div>


<div class="row">
  <modal #bookCompleteMessage>
    <modal-content>
      <div class="row">
        <div class="col-md-12 center-block text-center">
          <img src="../../../assets/img/congratulations/Congratulations.png">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>
            Well done, you have fought well, defeated your opponents and completed the book!
            Amazing work keep reading!
          </h4>
        </div>
      </div>
      </modal-content>
      <modal-footer>
        <button class="btn btn-primary" (click)="closeBookCompleteModal()">Close</button>
      </modal-footer>
  </modal>
</div>

<div class="row">
  <modal #dealPlayerDamage>
    <modal-content>
      <div class="row">
        <div class="col-md-6 center-block text-center">
          <img [src]=opponentAttackImageSrc()>
        </div>
        <div class="col-md-6 center-block text-center">
          <div class="row">
            <div class="col-md-12">
              <label>{{selectedAccount.username}}</label>
            </div>
          </div>
          <img [src]=enemyImageSrc(selectedAccount.profile_picture) class="opponentDamageImageSize">
          <div class="row">
            <div class="col-md-12 text-left">
              <label>Health:</label>
              <progress-bar [progress]=selectedAccount.health [color]="'#d9534f'">
              </progress-bar>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>
            {{selectedOpponentAttack.attackMessage}}
          </h4>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="closeDealPlayerDamageModal()">Close</button>
    </modal-footer>
  </modal>
</div>

<div class="row">
  <modal #dealOpponentDamage>
    <modal-content>
      <div class="row">
        <div class="col-md-6 center-block text-center">
          <img [src]=attackImageSrc()>
        </div>
        <div class="col-md-6 center-block text-center">
          <div class="row">
            <div class="col-md-12">
              <label>{{currentOpponent.name}}</label>
            </div>
          </div>
          <img [src]=enemyImageSrc(currentOpponent.avatar) class="opponentDamageImageSize">
          <div class="row">
            <div class="col-md-12 text-left">
              <label>Health:</label>
              <progress-bar [progress]=currentOpponent.health [color]="'#d9534f'">
              </progress-bar>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <h4>
            {{selectedPlayerAttack.attackMessage}}
          </h4>
        </div>
      </div>
    </modal-content>
    <modal-footer>
      <button class="btn btn-primary" (click)="closeOpponentDamageModal()">Close</button>
    </modal-footer>
  </modal>
</div>
