<div class="container">
  <div class="row">
    <div class="col-sm-2 col-md-3 col-md-offset-4">
      <h4 >Title: {{book?.title}}</h4>
      <h4 >Author: {{book?.author}}</h4>
    </div>
  </div>
  <div *ngFor="let sectionGroup of sectionGroups" class="row">
    <div class="row">
      <div class="col-sm-2 col-md-2  col-md-offset-5">
        <div><label>Name: Muzi</label></div>
        <div><label>Health: 50%</label></div>
        <img [src]=playerImageSrc class="imageSize">
      </div>
      <div class="col-sm-2 col-md-2">
        <div><label>Name: Snake </label></div>
        <div><label>Health: 25%</label></div>
        <img [src]=opponentImageSrc class="imageSize">
      </div>
    </div>

    <div class="row">
      <div class="col-sm-1 col-md-8 col-md-offset-3">
        <span (click)="readSelectedSection(sections)" *ngFor="let sections of sectionGroup.sections;let index = index">
          <label class="section-label">Section {{index + 1}}</label>
          <img  class="section_block" src="../../../assets/img/sectionIcon/sectionIcon.png">
        </span>
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-sm-2 col-md-6 col-md-offset-3">
      <div *ngFor="let bookSection of bookSections;let index = index" class="col-sm-2 col-md-3">
        <img src="../../../assets/img/sectionIcon/sectionIcon.png">
        <label class="section-label">Section {{index + 1}}</label>
      </div>
    </div>
  </div>-->
</div>
