<div class="container">

  <div class="row">
    <div class="col-sm-2 col-md-3 col-md-offset-4">
      <h4 >Title: {{book?.title}}</h4>
      <h4 >Author: {{book?.author}}</h4>
    </div>
  </div>

  <div class="row">
    <span *ngFor="let section of bookSections;let index = index">
      <div *ngIf="index == 0 || (index % 4) == 0" class="row">
        <div class="col-sm-2 col-md-2  col-md-offset-3">
          <div><label>Name: Muzi</label></div>
          <div><label>Health: 50%</label></div>
          <img [src]=playerImageSrc class="imageSize">
        </div>
        <div class="col-sm-2 col-md-2">
          <div><label>Name: Snake </label></div>
          <div><label>Health: 25%</label></div>
          <img [src]=opponentImageSrc class="imageSize">
        </div>
      </div>
      <div (click)="readSelectedSection(section, index)" class="col-sm-2">
        <label class="section-label">Section {{index + 1}}</label>
        <img class="section_block" [src]=getSectionIconImage(section) >
      </div>
    </span>

  </div>
</div>
