<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Select a character that best represents you</h3>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-md-2 col-md-offset-3">
      <img src="../../../assets/img/opponents2/witty-witch.png"
           class="img-rounded img-responsive center-block"
           style="width:60%"
           id="witty-witch.png"
           #parrot
           (click)="onSelectProfilePicture(parrot.id)"
           alt="Responsive image">
      <h4><span class="label label-primary">Witty Witch</span></h4>
    </div>
    <div class="col-md-2">
      <img src="../../../assets/img/opponents2/zulu-zombie.png"
           class="img-rounded img-responsive center-block"
           style="width:60%"
           id="zulu-zombie.png"
           #snake
           (click)="onSelectProfilePicture(snake.id)"
           alt="Responsive image">
      <h4><span class="label label-primary">Zulu Zombie</span></h4>
    </div>
    <div class="col-md-2">
      <img src="../../../assets/img/opponents2/wooden-wolf.png"
           class="img-rounded img-responsive center-block"
           style="width:60%"
           id="wooden-wolf.png"
           #giraffe
           (click)="onSelectProfilePicture(giraffe.id)"
           alt="Responsive image">
      <h4><span class="label label-primary">Wooden Wolf</span></h4>
    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <div class="form-group">
          <button type="submit" (click)="onSubmit()" class="btn btn-primary  btn-sm btn-block">Next</button>
        </div>
      </div>
    </div>
  </div>
</div>
