<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <progress-bar [progress]=scroll() [color]="'#488aff'">
      </progress-bar>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-4">
      <h5>Title: {{book.title}}</h5>
      <h5>Author: {{book.author}}</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2"
         style="overflow:scroll; height:550px;"
         id="sectionContent">
      {{currentSection.content}}
      <div class="row action-buttons">
        <div class="col-md-3 col-md-offset-3">
          <button type="button" (click)="closeSection()" class="btn btn-primary">CLOSE SECTION</button>
        </div>
        <div class="col-md-3">
          <button type="button" (click)="nextSection()" class="btn btn-warning">NEXT SECTION</button>
        </div>
      </div>
    </div>
  </div>
</div>
