<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <h3>Select three (3) themes that you like</h3>
    </div>
  </div>

  <form>
    <div class="row">
      <div class="col-md-2 col-md-offset-3">

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Classic">
          <label class="checkboxtext" for="Classic">Classic</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Crime">
          <label class="checkboxtext" for="Crime">Crime</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Fantasy">
          <label class="checkboxtext" for="Fantasy">Fantasy</label>
        </div>

      </div>

      <div class="col-md-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Mythology">
          <label class="checkboxtext" for="Mythology">Mythology</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="checkboxtext" for="defaultCheck1">Comics</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
          <label class="checkboxtext" for="defaultCheck1">Paranormal</label>
        </div>
      </div>

      <div class="col-md-2">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Comics">
          <label class="checkboxtext" for="Comics">Comics</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Paranormal">
          <label class="checkboxtext" for="Paranormal">Paranormal</label>
        </div>

        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="Folktale">
          <label class="checkboxtext" for="Folktale">Folktale</label>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-3 col-md-offset-4">
        <div class="form-group">
          <button type="submit" class="btn btn-primary  btn-sm btn-block">Next</button>
        </div>
      </div>
    </div>

  </form>
</div>

<!--
<div class="col-md-3">
  <label class="container">Horror
    <input type="checkbox" checked="checked">
    <span class="checkmark"></span>
  </label>

  <label class="container">Short Story
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="container">Fairy Tale
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>

  <label class="container">Sports
    <input type="checkbox">
    <span class="checkmark"></span>
  </label>
</div>-->
